# 1. Загрузка данных

## 1.1. Распакуем архив

In [1]:
#вставьте сюда название своего архива вместо 'data_input4.zip'

!unzip data_input4.zip

## 1.2. Произведем предобработку данных

In [2]:
import os

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter

In [3]:
#вставьте название распакованного архова вместо 'data_input4'

root_folder = "data_input4"
all_files = {}
for fld in next(os.walk(root_folder))[1]:
    path = os.path.join(root_folder, fld)
    all_files[fld] = [f for f in os.listdir(path) if os.path.isfile(os.path.join(path, f))]

In [4]:
measurements = []
classifications = []

count_healhy = 0
count_sick = 0

for sample in list(all_files):
    for txt in all_files[sample]:
        if "DS_Store" not in str(txt):
            df = pd.read_csv(os.path.join(root_folder,sample,txt), sep='\t',skiprows=[0],
                header=None, names=[ 'Wave', 'Intensity'])
        #time_unique = df.Wave.unique()
            if len(df[['Intensity']].to_numpy()) != 994:
                measurements.append(df[['Intensity']].to_numpy())
                if 'healthy' in str(sample):
                    classifications.append(0)
                    count_healhy += 1
                if 'sick' in str(sample):
                    classifications.append(1)
                    count_sick += 1

print(f'Здоровые ткани: {count_healhy}')
print(f'Больные ткани: {count_sick}')
print(f'Все ткани: {count_healhy + count_sick}')

Здоровые ткани: 432
Больные ткани: 122
Все ткани: 554

In [5]:
X = np.array(measurements)
y = np.array(classifications)

In [6]:
size = X.shape
X = X.reshape(size[0], size[1])

In [7]:
raman_shifts = pd.read_csv('/content/data_input4/02_sick/image_tumor_patient20022019_633nm_obj20_power100_1sec_сenter2900_step4um_place1_20200929_1_18.txt', sep="\t", header=None)
raman_shifts.drop(columns=[2], inplace = True)
raman_shifts.columns = ["Raman Shifts", "Интенсивность"]
raman_shifts.drop(raman_shifts.head(1).index, inplace=True)
raman_shifts["Raman Shifts"] = pd.to_numeric(raman_shifts["Raman Shifts"], errors='coerce').astype(np.int64)
RS = np.array(raman_shifts["Raman Shifts"])

In [8]:
df = pd.DataFrame(data = X)
df.columns = RS
df = df[RS[::-1]]
target = pd.DataFrame(data = y)
df['target'] = target[0]
df

,2141,2142,2144,2145,2147,2149,2150,2152,2153,2155,...,3540,3541,3542,3544,3545,3546,3547,3549,3550,target
0,70347.109375,70378.242188,70078.750000,70617.867188,70513.242188,70181.562500,70273.414063,69874.320313,69890.945313,70584.429688,...,31865.830078,31593.843750,32011.761719,31800.759766,31968.423828,31710.470703,31650.011719,31613.976563,31673.068359,0
1,19848.082031,19811.744141,19816.914063,19929.125000,19857.617188,19730.123047,19879.169922,19742.013672,19705.570313,19888.324219,...,14708.087891,14849.615234,14724.554688,14658.480469,14767.501953,14644.375977,14592.497070,14591.536133,14721.945313,0
2,15217.953125,15142.085938,15203.535156,15271.405273,15085.225586,15001.247070,14854.868164,14805.966797,14840.221680,15036.102539,...,5137.179199,5115.893066,5015.216797,4979.643555,5045.868164,4871.789063,4986.909180,5028.724609,4957.409668,0
3,21619.294922,21407.775391,21478.845703,21289.542969,21520.416016,21166.382813,21512.458984,21393.326172,21562.072266,21390.083984,...,15875.410156,15996.833008,16116.269531,15946.667969,15797.354492,15969.774414,15971.146484,15670.957031,15833.961914,0
4,35758.222656,35671.746094,35467.031250,35644.031250,35771.582031,35621.070313,35556.816406,35522.906250,35213.832031,35770.250000,...,26784.611328,26912.437500,26916.154297,26642.996094,26901.185547,26839.718750,26596.917969,26592.406250,26863.404297,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,51049.515625,51327.906250,51349.285156,51624.695313,51302.566406,51328.738281,50993.566406,51267.550781,51372.105469,51307.093750,...,49900.242188,50081.851563,50171.941406,50009.609375,50272.796875,49998.386719,49619.957031,49673.335938,49940.265625,1
550,219657.765625,219491.546875,220099.828125,220379.312500,219813.593750,219819.781250,220172.890625,219123.640625,219366.328125,220962.812500,...,277002.062500,277281.062500,276338.937500,276233.093750,275308.593750,275919.312500,276076.000000,275584.781250,276407.968750,1
551,50503.859375,50544.183594,50151.671875,50589.734375,50615.714844,50790.363281,50259.984375,49762.906250,50426.976563,50617.742188,...,62038.925781,62039.980469,62558.035156,61901.593750,62631.605469,62013.582031,62191.835938,62060.433594,62781.757813,1
552,202950.609375,203164.843750,203137.984375,204323.671875,203911.953125,203181.921875,203482.734375,203289.515625,202913.828125,203712.359375,...,254433.296875,254510.078125,254082.093750,252536.250000,254194.750000,252866.140625,254219.796875,253243.046875,254149.765625,1
553,198311.687500,197485.218750,197659.734375,198532.453125,198489.968750,197561.906250,197926.812500,197637.796875,198103.640625,198577.718750,...,248710.234375,248144.781250,247644.203125,246512.281250,247862.031250,247619.640625,248159.375000,248183.812500,248238.828125,1

если у вас собственный датафрейм, запустите следующую ячейку

In [9]:
#df = pd.read_csv('your_data.csv')
#df

#2. Применение итоговой модели

In [10]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [11]:
import pandas as pd
import numpy as np
import pickle

from sklearn.decomposition import PCA

data = df.drop(['target'], axis=1)

pca = 'pca_model.sav'
PCA = pickle.load(open(pca, 'rb'))
sklearn_transformed_data = PCA.transform(data)
_PCA = pd.DataFrame(sklearn_transformed_data)

In [12]:
efs_9 = [2276, 2254, 2282, 2316, 2310, 3273, 2313, 2271, 2322]
rfi_9 = [2186, 2142, 3537, 2177, 2152, 2149, 3544, 2147, 2185]
features_efs_rfi = set(rfi_9 + efs_9)

df_t = df.T
df_ens = df_t.loc[features_efs_rfi]
df_ens = df_ens.T
df_ens['target'] = df.target

<ipython-input-12-a5e3ca8e2125>:6: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ens = df_t.loc[features_efs_rfi]

In [13]:
df = pd.concat([_PCA, df_ens], axis=1, join="inner")
df

,0,1,2,3,4,5,6,7,8,9,...,2316,3273,2254,2313,3537,2322,3544,2142,2271,target
0,1.307718e+05,405330.349384,34130.591197,-3383.074483,5846.446400,-3144.334706,2650.814327,1529.037150,897.422055,3082.435568,...,65057.273438,37954.531250,66260.828125,65247.179688,31921.345703,65130.984375,31800.759766,70378.242188,65767.757813,0
1,-8.483365e+05,35122.923788,-16201.954501,-3466.646368,-2224.117558,1081.080638,-789.671295,-964.027574,-67.030535,822.425988,...,19504.853516,16283.706055,19261.943359,19498.080078,14583.841797,19444.343750,14658.480469,19811.744141,19271.185547,0
2,-1.121250e+06,69258.474947,-20675.651923,2678.866759,-3194.312992,2433.277606,-2128.240979,-652.358185,-413.033211,1454.537246,...,13441.666992,6235.562012,14098.987305,13263.863281,5004.828125,13353.512695,4979.643555,15142.085938,13711.720703,0
3,-7.992098e+05,41448.963053,-16068.880433,-5044.673933,-1318.562101,353.781221,-467.414715,-769.872023,-382.648136,548.840461,...,20865.240234,17755.136719,20860.513672,20933.343750,15935.730469,20796.265625,15946.667969,21407.775391,20774.791016,0
4,-4.478530e+05,90708.698971,10804.256209,10247.438816,-4643.514057,4369.296410,-4221.976122,-673.811733,-593.018570,983.932604,...,33882.894531,28195.070313,34181.925781,33844.062500,26756.886719,33830.640625,26642.996094,35671.746094,34158.664063,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,2.679150e+05,52986.437825,22843.308442,-7954.109109,147.797288,-632.851830,537.145174,-768.116441,77.507163,214.231797,...,51912.390625,52765.941406,51027.042969,52028.566406,49773.144531,51895.195313,50009.609375,51327.906250,51335.714844,1
550,7.051808e+06,-201417.433244,150400.170824,-15984.307668,5989.180446,-4942.170088,4134.369687,1107.940223,1597.022102,3880.818344,...,231788.531250,283964.687500,225024.906250,232143.828125,276507.375000,232134.656250,276233.093750,219491.546875,227214.937500,1
551,5.001485e+05,-63071.407010,29506.844619,-7607.929535,-1125.548318,443.436018,1205.026937,-1275.262446,172.447754,-2736.160355,...,53211.386719,64262.917969,51634.222656,52952.277344,61933.074219,53248.191406,61901.593750,50544.183594,52161.632813,1
552,6.418956e+06,-181388.647173,99300.394175,-14836.088627,4567.884160,-4197.047464,1099.881976,455.936529,1394.637031,11688.234249,...,214148.703125,262494.843750,208428.765625,214426.000000,254761.703125,214415.734375,252536.250000,203164.843750,209726.328125,1
553,6.234781e+06,-181299.735007,80924.174640,-11261.540603,2174.389997,-2262.585306,-1348.781728,-238.979082,844.743501,10980.440157,...,208456.140625,256449.656250,203707.453125,208292.781250,247084.718750,209447.921875,246512.281250,197485.218750,204722.343750,1

In [14]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split


X = df.drop(['target'], axis=1)
y = df['target']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
import pickle

_model= 'final_model.sav'
final_model = pickle.load(open(_model, 'rb'))

In [16]:
y_pred = final_model.predict(X)

cm_rf = pd.DataFrame(confusion_matrix(y, y_pred))
sensitivity = cm_rf[0][0] / (cm_rf[0][0] + cm_rf[1][0])
specificity = cm_rf[1][1] / (cm_rf[0][1] + cm_rf[1][1])

RF_metric = [accuracy_score(y, y_pred), f1_score(y, y_pred), specificity, sensitivity]
RF_metric

[0.983754512635379, 0.962962962962963, 0.9590163934426229, 0.9907407407407407]

In [17]:
res = pd.DataFrame()
res['Итоговая модель'] = RF_metric
res.index = ['Точность', 'F1 мера', 'Доля верно обнаруженных больных', 'Доля верно обнаруженных здоровых']
res = res.round(3)
res

                                  Итоговая модель
Точность                                    0.984
F1 мера                                     0.963
Доля верно обнаруженных больных             0.959
Доля верно обнаруженных здоровых            0.991

в нашем случае модель дала немного переобученные результаты, так как не совсем верно предсказывать данные на которых мы обучались, но на ваших данных результаты будут честными ;)